html, body {
    font-family: "ヒラギノ角ゴシック W2","Hiragino Kaku Gothic W4",
      "Noto Sans CJK JP",
      "YuGothic", YuGothic,
      "Hiragino Sans",
      "メイリオ", Meiryo,
      "VL PGothic",
      "Droid Sans Japanese",
      "Takaoゴシック","TakaoGothic",
      "ＭＳ Ｐゴシック", "MS PGothic",
      "Nunito Sans",
      sans-serif;
  
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  
    margin: 0;
}

a {
    color: #3498db;
    text-decoration: none;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover {
    color: #5bd1d7;
}

.gray-background {
    background-color: #666666;
    text-align: center;
    color: #fff;
}

.wrap {
    display: inline-block;
    max-width: 80%;
	justify-content: center;
}

.wrap img {
    max-width: 100%;
}

/* メニューボタン */
.button {
	display: inline-block;
	width: 200px;
	height: 54px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;

    background-color: #666666;
	color: #fff;
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.button:hover {
	background-color: #59b1eb;
}

.button2 {
	display: inline-block;
    padding: 5px 10px 5px 10px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	outline: none;

    background-color: #666666;
	color: #fff;
}
.button2::before,
.button2::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button2,
.button2::before,
.button2::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.button2:hover {
	background-color: #59b1eb;
}

.summary .catch {
	font-size: 36px;
	margin-top: 50px;
	margin-bottom: 20px;
}
.summary .text-wrap {
	display:flex;
	justify-content: center;
}
.summary .text-wrap .text {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;

	text-align: left;

	width: fit-content;
}
